# Excersice 1 List

In [1]:
# Create a list of 5 random numbers and print the list.
import random
numbers = [random.randint(1, 100) for _ in range(5)]
print("Original list:", numbers)

Original list: [67, 91, 45, 3, 80]

In [4]:
# Insert 3 new values to the list and print the updated list.
new_values = [random.randint(1, 100) for _ in range(3)]
numbers.extend(new_values)
print("Updated list:", numbers)

Updated list: [67, 91, 45, 3, 80, 52, 17, 63]

In [6]:
# Try to use a for loop to print each element in the list.
print("Elements in the list:")
for num in numbers:
    print(num)

Elements in the list:
67
91
45
3
80
52
17
63

# Excersice 2 Dictionary

In [17]:
# Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.
person = {
    'name': 'Nila',
    'age': 20,
    'address': 'Gandhinagar'
}
print("Original dictionary:", person)

Original dictionary: {'name': 'Nila', 'age': 20, 'address': 'Gandhinagar'}

In [19]:
# Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.
person['phone'] = '1234567890'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Nila', 'age': 20, 'address': 'Gandhinagar', 'phone': '1234567890'}

# Excersice 3 Set

In [26]:
# Create a set with values 1, 2, 3, 4, and 5.
numbers_set = {1, 2, 3, 4, 5}
print("Original set:", numbers_set)

Original set: {1, 2, 3, 4, 5}

In [28]:
# Add the value 6 to the set created in Q1.
numbers_set.add(6)
print("Set after adding 6:", numbers_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [30]:
# Remove the value 3 from the set created in Q1.

numbers_set.discard(3) 
print("Set after removing 3:", numbers_set)

Set after removing 3: {1, 2, 4, 5, 6}

# Excersice 4 Tuple

In [33]:
# Create a tuple with values 1, 2, 3, and 4
numbers_tuple = (1, 2, 3, 4)
print("Tuple:", numbers_tuple)

Tuple: (1, 2, 3, 4)

In [35]:
# Create a tuple with values 1, 2, 3, and 4
# Print the length of the tuple created in Q1.

print("Length of the tuple:", len(numbers_tuple))

Length of the tuple: 4