# Excersice 1

In [2]:
Name = 'Anagha'
Student_number = 'SHR2727562'
Email = 'anagha123@example.com'
print(Name,Student_number,Email)

Anagha SHR2727562 anagha123@example.com

# Excersice 2

In [56]:
Write Python code that prints your name, student number and email address using escape sequences.   
print('\t{}\t{}\t{}'.format(Name,Student_number,Email))

	Anagha	SHR2727562	anagha123@example.com

# Excersice 3

In [60]:
# Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7
num1 = 14
num2 = 7

In [80]:
print(f'{num1}+{num2}={num1 + num2}')
print(f'{num1}-{num2}={num1 - num2}')
print(f'{num1}*{num2}={num1 * num2}')
print(f'{num1}/{num2}={num1 / num2}')

14+7=21
14-7=7
14*7=98
14/7=2.0

# Excersice 4

In [16]:
# Write Python code that displays the numbers from 1 to 5 as steps. 
for i in range(1,6):
    print(i)

1
2
3
4
5

# Excersice 5

In [20]:
print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

# Excersice 6

In [29]:
print("python is an \"awesome\" language.")

python is an "awesome" language.

In [31]:
print("python\n\t2023")

python
	2023

In [33]:
print('I\'m from Entri.\b')

I'm from Entri

In [35]:
print("\65")

5

In [37]:
print("\x65")

e

In [39]:
print("Entri", "2023", sep="\n")

Entri
2023

In [41]:
print("Entri", "2023", sep="\b")

Entr2023

In [43]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*20

# Excersice 7

In [46]:
num=23
textnum="57"
decimal=98.3

In [48]:
print(type(num))
print(type(textnum))
print(type(decimal))

<class 'int'>
<class 'str'>
<class 'float'>

In [52]:
total_sum = num + int(textnum) + decimal

In [54]:
print("Sum:", total_sum)
print("Type of sum:", type(total_sum))

Sum: 178.3
Type of sum: <class 'float'>

# Excersice 8

In [59]:

days_in_year = 365  
hours_in_day = 24   
minutes_in_hour = 60 
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour
print("Total number of minutes in a year:", total_minutes_in_year)

Total number of minutes in a year: 525600

# Excersice 9

In [66]:
# user to enter his/her name and then output/prints his/her name with a greeting.
name = input("Please enter your name: ")
print(f"Hi {name}, welcome to Python programming :)")

Please enter your name:  Anagha

Hi Anagha, welcome to Python programming :)